{% load static %}
<!DOCTYPE html>
<!-- so this is what they call a template. you'll stuff your dynamic data into these -->

<html>
    <head>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>

        <title>DM's Django Playground</title>
    </head>
    <body>
        <div class="uk-container-large">
            <div>
                <!-- site/blog header -->
                <div class="uk-section-muted uk-section-small">
                        <h1 class="uk-link-heading uk-heading-medium uk-heading-line uk-text-center"><a href="/">The Blog Roll</a></h1>
                        {% if user.is_authenticated %}
                        <a title="new post" href="{% url 'post_new' %}" class="uk-icon-link uk-position-top-right uk-margin-large-top uk-margin-small-right" uk-icon="icon: plus-circle; ratio: 2"></a>
                        {% endif %}
                </div>
            </div>
            <div class="uk-container uk-margin-medium-top">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>