{% load static %}
<!DOCTYPE html>
<!-- so this is what they call a template. you'll stuff your dynamic data into these -->

<html>
    <head>
        <!-- CSS -->
        <link rel="stylesheet" href="" />

        <!-- external JS
        <script src=""></script>
        -->

        <title>DM's Django Playground</title>
    </head>
    <body>
        <div class="">
            <div>
                <!-- old site/blog header - will repurpose with a nice cover img or sth instead
                <div class="uk-section-muted uk-section-small">
                    <h1 class="uk-link-heading uk-heading-medium uk-heading-line uk-text-center"><a href="/">The Blog Roll</a></h1>
                </div>
                -->

                <nav class="">
                    <div class="">
                        <ul class="">
                            <li class=""><a href="/">The Blog Roll</a></li>
                            <!--around the web? other apps?
                            <li>
                                <a href="#"></a>
                            </li>
                            this part is setup to be a apps dropdown menu but I wonder if the Blog Roll should be?
                            cuz I'll eventually swap it out for a "Site Main/Index" thing once we add
                            other apps.
                            -->
                        </ul>
                    </div>
                    <div class="">
                        <a class="">...wait what is this for</a>
                    </div>
                </nav>
                
                <!-- offcanvas menu -->
                <div id="navmenu">
                    <div class="navmenu-content">
                        <ul class="">
                            <!-- should probably be a close button or something -->
                            <button class="close-btn" type="button">x</button>

                            <!-- could be a good idea to add a login option here. later. -->

                            <!-- extensible section for user, like admin/author options -->
                            <li class="">Tools</li>
                            <li class="">---*---</li>
                            {% if user.is_authenticated %}
                                <li class=""><a href="{% url 'post_new' %}">
                                    <span class="">New post </span>
                                </a></li>
                                
                                {% block bonus_menu %}
                                {% endblock %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>