{% extends "blog/base.html" %}

{% block bonus_menu %}
    <!-- adds option to edit current post-->
    <li><a href="{% url 'post_edit' pk=post.pk %}">
        <span class="uk-margin-small-left" uk-icon="icon: file-edit">Edit Post </span>
    </a></li>
{%endblock%}

{% block content %}
    <div>
        <article class="uk-article">                
                <h2 class="uk-article-title">{{ post.title }}</h2>
                {% if post.published_date %}
                <div class="uk-article-meta">
                    {{ post.published_date }}
                </div>
                {% endif %}
                <p>{{ post.text|linebreaksbr }}</p>
        </article>
    </div>
{% endblock  %}