{% extends "blog/base.html" %}

{% block content %}
    <div>
        <article class="uk-article">                
                <h2 class="uk-article-title">{{ post.title }}</h2>
                {% if post.published_date %}
                <div class="uk-article-meta">
                    {{ post.published_date }}
                    {% if user.is_authenticated %}
                    <a class="uk-text-primary" href="{% url 'post_edit' pk=post.pk %}"> | [edit]</a>
                    {% endif %}
                </div>
                {% endif %}
                <p>{{ post.text|linebreaksbr }}</p>
        </article>
    </div>
{% endblock  %}